@{
    ViewData["Title"] = "Rock Climbing";
}

<div class="text-center">
    <h1 class="display-4">My Hobby: Rock Climbing <i class="fa-solid fa-mountain"></i></h1>
    <p>Welcome to my rock climbing site! Whether you're a beginner looking to get started or an experienced climber pushing your limits, this is the place for all things climbing. From gear recommendations and technique tips to my personal climbing experiences and favorite routes, I’m here to share my passion for scaling new heights. Climbing isn’t just a sport—it’s a challenge, an adventure, and a way to connect with nature. So grab your chalk, tighten your harness, and let's send it!</p>
    <img src="~/img/dayclimbing.jpg" width="300px"/>
    <br />
    <br />
    <h2>My Story</h2>
    <p>I started rock climbing during freshman year of college. I first went with my fhe group and after that I was hooked.
         I now go several times a week at the quarry. I have also started going outdoor climbing.
    </p>
	<img src="~/img/nightclimbing.jpg" width="300px"/>
    <br />
    <p>I believe that my love for problem solving is part of what led me to become a dedicated rock climber in recent years. 
        While rock climbing requires significant arm strength, perhaps more important is the way a climber approaches the climb. 
        Without the ability to “read” a climb and look for ways to solve problems using technique rather than brute strength, 
        many climbers won’t reach their goals or see much improvement.</p>
        <br />
        <br />
        <br />
